<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ site.data.golobal.description }}">
	<meta property="og:locale" content="en">
	<meta property="og:site_name" content="{{ site.data.global.title }}">
	<meta property="og:title" content="Projects">
	<meta property="og:url" content="{{ site.data.golobal.base_url }}/projects/">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	<script src="{{ site.data.golobal.base_url }}/assets/js/jquery-1.12.4.min.js"></script>
	<script src="{{ site.data.golobal.base_url }}/assets/js/bootstrap.min.js"></script>
	<script src="{{ site.data.golobal.base_url }}/assets/js/custom.js"></script>
    <script src="{{ site.data.golobal.base_url }}/assets/js/power.js"></script>
	
	<link rel="stylesheet" href="{{ site.data.golobal.base_url }}/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.data.golobal.base_url }}/assets/css/main.css">
	
	
	<title>Projects  IDSG @ Information Systems, RWTH Aachen University</title>




	
	<meta http-equiv="cleartype" content="on">
	
</head>
  
<body>	
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.data.golobal.base_url }}/"> Home </a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="{{ site.data.golobal.base_url }}/about/">About</a>
							</li>
							<li>
								<a href="{{ site.data.golobal.base_url }}/researchprojects/">Research</a>
							</li>
							<li>
								<a href="{{ site.data.golobal.base_url }}/softwareprojects/">Software</a>
							</li>
							<li>
								<a href="{{ site.data.golobal.base_url }}/publications/">Publications</a>
							</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="lead col">
